.cardContact {
  display: flex;
  justify-content: space-between;
  border: 0px solid black;
  border-radius: 8px;
  width: 500px;
  padding: 10px;
  align-items: center;
  background-color: rgb(241, 241, 241);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1), 0 4px 8px rgba(0, 0, 0, 0.1),
    0 8px 16px rgba(0, 0, 0, 0.1);
}
.buttonDel {
  display: flex;
  border: 1px solid black;
  justify-content: center;
  width: 80px;
  height: 36px;
  align-items: center;
}
.user,
.phone {
  margin-right: 12px;
}
.contactName,
.contactPhone {
  display: flex;
  align-items: center;
}
.formContact {
  display: flex;
  flex-direction: column;
  gap: 14px;
}
.containerButton {
  display: flex;
  gap: 14px;
}
