.header {
  display: flex;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background-color: #595959;
  color: white;
  padding: 20px;
  align-items: center;
}
.listLink {
  display: flex;
  margin-right: 50px;
  gap: 30px;
}
.link {
  color: wheat;
}
